.home {
  box-sizing: border-box;

  position: absolute;
  width: 100vw;
  height: 100vh;

  background: url(../assets/img/home1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border: 1px solid #000000;
}

.text {
  margin-top: 400px;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 40px;
  margin-top: 190px;
}

.h11 {
  padding-top: 600px;
}

.button3 {
  display: flex;
  position: fixed;
  top: 80vh;
  left: 80vw;
  background-color: orangered;
  color: white;
  /* width: 10px;
    height: auto; */
  padding: 2vw;
  font-size: 30px;
  font-family: "Jua", sans-serif;
  border-radius: 40px;
  cursor: pointer;
}

.home {
  padding-left: 1000px;
  padding-top: 550px;
}
