
  
  
  .logo {
    font-size: 80px;
    text-align: center;
    font-family: 'Jua';
  }

.container{
    display: flex;
    flex-direction:row;
    gap: 20px;
    padding-left: 110px;
}
.image{
    width: 350px;
    height: 450px;
}

.image:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .modalbg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content:center;
    align-items: center;
    z-index: 1000; /*값이 높을 수록 화면 위에 배치됨*/
    font-family: 'Jua';
  }
  
  .modal {
    background-color: white;
    border-radius: 15px;
    width:500px;
    height: 700px;
    padding: 20px;
    text-align: center;
    align-items: center;
  }
  
  .modalImage {
    padding-top: 0px;
    width: 370px;
    height: auto;
    margin-bottom: 1px;
  }

  .modaltitle{
    background-color: black;
    color: white;
    width: 370px;
    height: 100px;
    border-radius: 40px;
    margin-left: 65px;
  }
  .modalkey{
    font-family:'Jua';
    padding-top: 33px;
    font-size: 30px;
    color: white;
  }

  .modaldescription{
    margin-left:65px;
    margin-top: 1px;
    width: 360px;
    height: auto;
background-color: #FFFFFF;
border: 3px solid #000000;
border-radius: 40px;
font-size: 20px;
text-align: left;
padding-top: 10px;
padding-left: 10px;
white-space: pre-wrap;

  }

  .close {
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Jua';
    width:100px;
    height: 30px;
    padding-top:6px;
  
  }
  
.cbox{
  padding-top: 5px;
}