.pinkbox {
    box-sizing: border-box;

    position: absolute;
    width: 100vw;
    height: 100vh;

    background: url(img/result4.png);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;

    border: 1px solid #000000;
}

.text{
    font-family: 'Jua', sans-serif;
    margin-top:400px;
    padding-left:200px;
    padding-right:200px;
    font-size:40px;
    margin-top:190px;
}

.box1 {
    width: 200px; /* 버튼 크기를 명확히 설정 */
    height: 50px;
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Jua', sans-serif;
    border: none;
    background-color: #FF82FF;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    position: absolute; /* 버튼을 위치 조정할 때 사용 */
    bottom: 10%; /* 하단에서 10% 위치 */
    left: 50%; /* 가운데 정렬 */
    transform: translateX(-50%); /* 가운데 정렬을 정확하게 맞춤 */
  }