@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  font-family: "Jua", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(245, 245, 245);
  font-family: "Jua", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", "JUA",
    monospace;
}
